{%if auth %}
    <h4>adadadad</h4>
{% else %}
    <form class="order_form" method="post">
        <h4>Enter to you profile</h4>
        <label>
            <input type="text" placeholder="Login" name="login">
        </label>
        <label>
            <input type="password" placeholder="Password" name="pass">
        </label>
        <div class="">
            <button class="get_quote" type="submit" name="ok">SUBMIT</button>
        </div>
    </form>
{% endif %}